@media only screen and (max-width: 360px) {
  .containerPage {
    background-color: lightblue;
  }
}

.containerPage {
  margin: 0;
  padding: 0;
  background: linear-gradient(#4953b8, #5965e0);
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.bgLogo {
  position: fixed;
  left: -68px;
  top: 0;
}

.bgLogo img {
  width: 50vw;
  height: 100vh;
  min-width: 780px;
}
